.right {
    position: absolute;
    right: 5%;
    top: 25%;
    width: 76%;
}

th{
    width: 5%;
    text-align:center
}
table{
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 10px;
}
.edit-container{
    position: absolute;
    top:-40%;
    right: 0%;

}
.edit-container .text{
    width: 260px;
    margin-right: 16px;
}

.addclientbtn{
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 6px;
    width: 96px;
    color: white;
    font-weight: bold;
    float: right;
    position: absolute;
    top: 110%;
    left: 24%;
}

.editclientbtn{
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 0 8px;
}

.label2{
    margin-left: 190px;
}