
/*
 tr:hover{
  background-color: rgb(206, 206, 206);
  cursor: pointer;
  
}

.position{
  
  margin-top: 25px;
  
}
.font-24{
  font-size: 15px;
  text-align: center;
}

th{
  line-height: 50px;
  font-size: 24px;
 background-color:  #ECF7FD;
 
}
th:nth-child(3){
  width: 20%;
}

*/

