.modal-container{
    position: absolute;
    left: 0%;
    top: -20%;
    background-color: white;
    width: 100%;
    height: 50%;
    border: 2px gray solid;
    border-radius: 10px;
    z-index: 1;
    text-align: center;
 }
.modal-container h1 {font-size: 24px;
    margin-top: -30px;

}

.main-popup-container{
    position: absolute;
    right: -43%;
    top: 12%;
    width: 270px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 6px;
    text-align: center;
    padding: 8px;

}