.menu-element {
    color: black;
    text-decoration: none;
    margin-left: 32px;
    margin-top: 10px;

    width: 200px;
}

.menu-element:hover {
    color: black;
    text-decoration: none;
    width: 200px;
    font-weight: bold;

}




.logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;


    border-radius: 6px;
    margin: 32px 16px;
    width: 200px;

}