.main {
    padding: 32px;
}

.row2 div {
    width: 184px;
    height: 68px;
}

.bold {
    font-weight: bold;
}

.numbers-container {


    line-height: 14.5px;
    background-color: #ECF7FD;
    padding: 8px 16px;
    margin: 8px 0px 16px 0px;
}

.info-container {
    width: 100%;
    color: #000;
    display: -webkit-box;
    display: flex;
}

.date {
    font-size: 24px;
    text-transform: uppercase;

}

.title {
    font-weight: bold;
    font-size: 48px;
    line-height: 30px;

}

.general-container {
    background-color: #47525E;
    height: 30px;
    margin-top: 16px;
    text-align: center;

}

.section-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.metric-row {
    margin-top: 16px;
    display: flex;
}

.metrics-element {
    border: 1px solid #C7D1DC;
    width: 194px;
    height: 57px;
    text-align: center;
    border-right: none;
}

.metrics-element:nth-child(1) {

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.metrics-element:nth-child(4) {
    border: 1px solid #C7D1DC;
    height: 68px;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.metric-title {
    font-weight: 500;
    font-size: 10px;
    margin-top: 3px;
    color: #697787;
}

.metric-value {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-top: -12px;
}


table {
    border: 1px solid;
    border-radius: 2px;
    font-size: 11.5px;
}

table th {
    font-size: 12px;
    padding: 4px;
}

td {
    border-top: 1px solid black;
    padding: 5px;
    border-left: 1px solid black;
}

th {
    border-left: 1px solid black;
}

.table-container {
    margin-top: 16px;
}





table {
    page-break-after: auto
}

tr {
    page-break-inside: avoid;
    page-break-after: auto
}

td {
    page-break-inside: avoid;
    page-break-after: auto
}

thead {
    background-color: rgb(216, 216, 216);
}




.definitions-container {
    margin-top: 16px;
}

li {
    line-height: 16px;
    margin-bottom: 8px;
}

.metric-title {
    font-size: 14px;
}

.notes-container li{
    line-height: 24px;
}